{% extends 'prtapp/base.html' %}
{% load staticfiles %}


{% block static_files %}
<link rel="stylesheet" href="{% static 'css/based_on_tops_height.css' %}">
<script src="{% static 'js/based_on_tops_height.js' %}"></script>
<script src="{% static 'js/jQuery.js' %}"></script>
{% endblock %}


{% block content %}
<h1>Описание алгоритма</h1>
<p>
    <b>Высота вершины</b> – число, равное наибольшей длине связанных с ней ответвлений. Число рёбер в максимальном ответвлении характеризует его длину.
    <p> Вершина с наименьшей высотой выбирается в качестве корня и называется центраидом. Если имеются две такие вершины, то они вместе с соединяющим их ребром называются бицентраидом. За корень принимается та вершина, у которой вырастает дерево с наименьшим числом вершин.
    </p>
    <p>
    Замечание: центр и центроид могут не совпадать.
    </p>
</p>
<h1>Применение метода, основанного на понятии высоты вершины</h1>
<form>
    <p>Введите количество вершин дерева: 
        <input type="text" size="1" placeholder="5" id="little_input" name="num_of_vertexes_box">
        <input type="button" name="enter_num" value="Ввод">
        <span id="err_label">Error. Try again.</span>
    </p>
</form>
<form action="/test-form/" method="post">
    {% csrf_token %}
    <p id="p_before_table">Заполните 
        <a target="_blank" class="less_style" 
        href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D1%82%D1%80%D0%B8%D1%86%D0%B0_%D1%81%D0%BC%D0%B5%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%B8">
        матрицу смежности
        </a>
        (построить дерево и найти его матрицу смежности можно 
        <a target="_blank" class="less_style" href="http://graphonline.ru">здесь</a>
        ):
        <br id="line_break0">
        <p id="result"></p>
    </p>
    <input type="button" value="  OK  " id="ok_btn">
</form>
{% endblock content %}