{% load staticfiles %} 
<html>
    <head>
    <meta charset="utf-8">
        <title>Корни деревьев, стеганография в фото и видео</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400, 300" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" href="{% static 'css/prtapp.css' %}">
        {% block static_files %}
        {% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <header>
                <a href="/"><img src="{% static 'images/logo.gif' %}" alt="Main logo"></a>
                <blockquote>В моральном плане математика учит нас строго относиться к тому, что утверждается как истина, что выдвигается как аргумент или высказывается как доказательство. Математика требует ясности понятий и утверждений, не терпит ни тумана, ни бездоказательных заявлений.</blockquote>
                <cite>Александров А.Д.</cite>
            </header>
            <nav>
                <ul class="top-menu">
                    <li><a href="/">Главная</a></li>
                    <li>
                        <a href="/summary-about-trees-root/">Найти корень дерева 
                        <img width="11" height="11" src="{% static 'images/menu_arrow.png' %}" alt="arrow">
                        </a>
                            <ul>
                                <li><a href="/cut-method/">Метод отсечения</a></li>
                                <li><a href="/based-on-tops-height/">Метод, основанный на высоте вершины</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="/summary-about-stegano/">Стеганография в фото- и видеофайлах 
                        <img width="11" height="11" src="{% static 'images/menu_arrow.png' %}" alt="arrow">
                        </a>
                        <ul> 
                            <li><a href="/stegano-in-images/">Стеганография в изображениях</a></li>
                            <li><a href="/stegano-in-videos/">Стеганография в видео</a></li>
                        </ul>
                    </li>
                    <li><a href="/contacts/">Контакты</a></li>
                </ul>
            </nav>
            <section id="content">
                {% block content %}
                {% endblock %}
            </section>
        </div>
        <footer>
            <div id="footer">
                <p>© 2017 fromkaf42.ru</p>
                <p>Копирование материалов запрещено.</p>
            </div>
        </footer>
    </body>
</html>
