{% extends 'prtapp/base.html' %}
{% load staticfiles %}


{% block static_files %}
<link rel="stylesheet" href="{% static 'css/cut_method.css' %}">
<script src="{% static 'js/cut_method.js' %}"></script>
<script src="{% static 'js/jQuery.js' %}"></script>
{% endblock %}


{% block content %}
<h1>Описание алгоритма</h1>
<ol>
    <li>Из дерева удаляются все концевые вершины и рёбра.</li>
    <li>В полученном дереве снова удаляются все вершины и ребра. Повторяем 1-2 до тех пор, пока исходное дерево не сократится до одной вершины или ребра. Тогда:
        <ul>
            <li>а) оставшиеся вершины называются центром и выбирается в качестве корня; </li>
            <li>б) оставшееся ребро вместе с вершинами, которые оно связывает называется бицентром, при этом за корень принимается та вершина, из которой выделяется дерево с меньшим числом вершин (иначе - любая).</li>
        </ul>
    </li>
</ol>
<h1>Применение метода отсечения</h1>
<form>
    <p>Введите количество вершин дерева: 
        <input type="text" size="1" placeholder="5" class="little_box" name="num_of_vertexes_box">
        <input type="button" name="enter_num" value="Ввод">
    </p>
</form>
<p id="p_before_table">Заполните 
    <a target="_blank" class="less_style" 
    href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D1%82%D1%80%D0%B8%D1%86%D0%B0_%D1%81%D0%BC%D0%B5%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%B8">
    матрицу смежности:
    </a>
    <br id="line_break0">
</p>
{% endblock content %}