{% extends 'prtapp/base.html' %}

{% block content %}
<h1>Добро пожаловать!</h1>
<p class="first_paragr">Данный портал посвящён таким разделам математики как теория графов и стеганография. Вы можете ознакомиться с теоретической частью или перейти к использованию реализованных методов.</p>
<p>В настоящий момент реализованы:</p>
<div class="list">
    <p>- поиск корня дерева <a href="cut-method/">методом отсечения</a>;</p>
    <p>- поиск корня дерева методом, основанном <a href="based-on-tops-height/">на понятии высоты вершины</a>;</p>
    <p>- сокрытие информации <a href="stegano-in-images/">в растровых изображениях</a>;</p>
    <p>- сокрытие информации <a href="stegano-in-videos/">в видеофайлах</a>.</p>
</div>
{% endblock content %}