{% extends 'prtapp/base.html' %}
{% load staticfiles %}


{% block static_files %}
<link rel="stylesheet" href="{% static 'css/stegano_in_images.css' %}">
{% endblock %}


{% block content %}
<h1>Описание метода</h1>
<ol>
    <li>Из дерева удаляются все концевые вершины и рёбра.</li>
    <li><p>В полученном дереве снова удаляются все вершины и рёбра. Повторяем 1-2 до тех пор, пока исходное дерево не сократится до одной вершины или ребра. Тогда:
        <ul>
            <li>а) оставшаяся вершина называется центром и выбирается в качестве корня; </li>
            <li>б) оставшееся ребро вместе с вершинами, которые оно связывает, называется бицентром, при этом за корень принимается та вершина, из которой выделяется дерево с меньшим числом вершин (иначе - любая).</li>
        </ul></p>
    </li>
</ol>
<h1>Применение метода .....</h1>

{% endblock content %}