{% extends 'prtapp/base.html' %}
{% load staticfiles %}


{% block static_files %}
<link rel="stylesheet" href="{% static 'css/stegano_in_images.css' %}">
{% endblock %}


{% block content %}
<h1>Описание метода псевдослучайного интервала для сокрытия информации в изображении</h1>
<p>Рассмотрим сокрытие данных в пространственной области. Алгоритмы сокрытия, использующие данные методы, внедряют секретную информацию в пространственные области исходного изображения.</p>
<p> Цветное изображение С будем представлять через дискретную функцию, которая определяет вектор цвета с(x, y) для каждого пикселя изображения (x, y), где x и y - координаты пикселя, а значение цвета задаёт трехкомпонентный вектор в цветовом пространстве. Наиболее распространённый способ передачи цвета – это модель RGB, в которой основные цвета красный, зеленый, синий, а остальные могут быть представлены в виде взвешенной суммы остальных цветов.</p>
<p>Вектор цвета с(x, y) в RGB-пространстве представляет интенсивность основных цветов. Сообщение встраиваются за счёт манипуляций цветовыми составляющими {R(x,y), G(x,y), B(x,y)} или непосредственно яркостью.</p>
<p> Общий принцип этих методов заключается в замене избыточной, малозначимой части изображения битами секретного сообщения. Для извлечения сообщения необходимо знать алгоритм, по которому размещалась по контейнеру скрытая информация.</p>
<p>В данной реализации метода псевдослучайного интервала рассматривается генератор вида – 1, 2, 3, 4. Это означает, что кодированная информация содержится в первом пискеле, потом через один пиксель, через два, через три, через четыре. Далее генератор повторяет этот ряд.</p>
<p>Рассматривается синий цветовой компонент изображения. Так как в каждом закодированном пикселе кодируются только 2 наименее значащих бита, то метод эффективен в случае, когда битовая длина секретного сообщения существенно меньше количества пикселей изображения.</p>
<p>Отметим, что в данной реализации рассматриваются в качестве контейнера изображения в формате BMP.</p>

<h1>Применение метода</h1>
<h3>Кодирование информации</h3>

<form method="POST" action="/upload-image-to-encode/" enctype="multipart/form-data" class="form">
{% csrf_token %}
{{ form_to_encode }}
<button type="submit">Закодировать данные!</button>
</form>
<span>{{err}}</span>

<h3>Раскодирование информации</h3>

<form method="POST" action="/upload-image-to-decode/" enctype="multipart/form-data" class="form">
{% csrf_token %}
{{ form_to_decode }}
<button type="submit">Раскодировать данные!</button>
</form>
{% endblock content %}