{% extends 'prtapp/base.html' %}
{% load staticfiles %} 

{% block content %}
<p class="first_paragr">Часто в дереве особо выделяется одна вершина, играющая роль своего рода "начала отсчета". Дерево с выделенной вершиной называют корневым деревом, а саму эту вершину - корнем. Из дерева с вершинами можно, таким образом, образовать различных корневых деревьев.</p>
<p>При графическом изображении корневого дерева обычно придерживаются какого-нибудь стандарта. Один из наиболее распространенных состоит в следующем. Возьмем на плоскости семейство параллельных прямых с равными расстояниями между соседними прямыми. Изобразим корень точкой на одной из этих прямых, смежные с корнем вершины - точками на соседней прямой, вершины, находящиеся на расстоянии 2 от корня, - на следующей, и т.д. Ребра изобразим отрезками прямых. Ясно, что вершины на каждой прямой можно разместить так, чтобы ребра не пересекались. На рисунке 1 показан пример корневого дерева.</p>
<p>У корневых деревьев у нижних вершин вес равен 1, у каждой следующей вершины снизу вверх вес равен сумме весов её верхних и весы самой вершины 1.</p>
<a class="img_ref" href="/summary_about_trees_root/"><img src="{% static 'images/tree_example.gif' %}" alt="tree_example"></a>
{% endblock content %}