{% extends 'prtapp/base.html' %}
{% load staticfiles %} 


{% block static_files %}
<link rel="stylesheet" href="{% static 'css/summary_about_stegano.css' %}">
{% endblock %}


{% block content %}
<p class="first_paragr"><b>Стеганография</b> представляет собой совокупность методов, основывающихся на различных принципах, которые обеспечивают сокрытие самого факта существования секретной информации в той или иной среде, а также средств реализации этих методов. К ней можно отнести огромное множество секретных средств связи, таких как невидимые чернила, микрофотоснимки, условное расположение знаков, тайные каналы, средства связи с плавающими частотами, голография и т.д.</p>
<p>В настоящее время развиваются методы компьютерной стеганографии — самостоятельного научного направления информационной безопасности, изучающей проблемы создания компонентов скрываемой информации в открытой информационной среде, которая может быть сформирована вычислительными системами и сетями. Особенностью стеганографического подхода является то, что он не предусматривает прямого оглашения факта существования защищаемой информации. Это обстоятельство позволяет в рамках традиционно существующих информационных потоков или информационной среды решать некоторые важные задачи защиты информации ряда прикладных областей.</p>
<p>Можно выделить типы сред, которые используются для скрытой передачи информации: текстовая, звуковая, графическая, видео. На данном портале реализованы методы сокрытия:
    <div class="list"> 
        <p><a href="/stegano-in-images/">- в растровых изображениях</a>;</p>
        <p><a href="/stegano-in-videos/">- в видеофайлах</a>.</p>
    </div>
</p>
{% endblock content %}