section h1{
    margin: 0;
    text-align: center;
}

.less_style {
        text-decoration: none;
}

#little_input{
text-align: center;
}

#p_before_table {
    margin: 0px auto;
}
#err_label {
    opacity:0;
}
