section h1{
    margin: 0;
    text-align: center;
}

section ol{
    margin:0;
    padding:10px;
    font: 20px PT Sans Narrow, Oswald,sans-serif ;
}

ol ul {
    list-style: none;
}

.less_style {
        text-decoration: none;
}

#little_input{
text-align: center;
}

/*#p_before_table {
    all:unset;
}*/
#err_label {
    opacity:0;
}
#submit_btn{
    /*width:50px;*/
    margin-left:10px;
}