* {
     /*margin: 0px;*/
     padding: 0px;
}

body {
     background-color: #f8f8f8;
     border-top: 5px solid #7e7e7e;
     color: #8f8f8f;
     font: 12px Tahoma,sans-serif;
     margin: 0px;
}

#wrapper {
     /*margin: auto;*/
     /*max-width: 960px;*/
}

/*header {
     padding: 20px 0px;
}*/
header > a > img {
     border-right: 2px solid #7e7e7e;
     float: left;
     /*margin: 0px 40px 0px 0px;*/
     margin-right: 40px;
}

header blockquote {
     /*font: 16px Tahoma;*/
     font: 16px Oswald, sans-serif;
     max-width: 1100px;
     margin:0;
}

header cite {
     font: italic 20px Oswald, sans-serif;
     left: 600px;
     position: relative;
     /*top: 20px;*/
}

header {

}

/*nav a {
    text-decoration: none;
}

nav li {
    list-style-position: inside;
    font: 14px Tahoma;
    padding: 10px;
}

.top-menu li {
    display: inline-block;

}*/


nav {
    clear: left;
    float:left;
    font: 21px PT Sans Narrow, sans-serif;
    /*width: 100%;*/
}

nav li {
    float: left;
    display: block;
    position: relative;
    width: 24.7vw;
}

nav li a {
    display: block;
    background: #29c5e6;/*#DCDCDC;*/
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
}

nav li a:hover {
    /*background: #6b0c36;*/
}
.top-menu {
    margin:0;
}

.top-menu ul {
    list-style: none;
    position: absolute;
    left: -9999px;
    opacity:0;
}

.top-menu ul li{
    float: none;
}

.top-menu ul a {
    white-space: nowrap;
}

.top-menu li:hover ul{
    left:0;
    opacity:1;
}

.top-menu li:hover > a{
    /*background: #6b0c36;*/
    background: #29c5e6;
}

.top-menu li:hover ul li a:hover {
    /*background: #333;*/
    background: #AFEEEE;
}

.top-menu a {
    color: #696969;
}

section {
    margin-left: 11%;
    margin-top: 40px;
    width: 78%;
    display:inline-block;
    font: bold 16px Open Sans Condensed, Oswald, sans-serif;
}
section p {
    margin:0;
    padding:10px;
    font: 20px PT Sans Narrow, Oswald,sans-serif ;
}
/*section h1{
    margin: 0;
    text-align: center;
}

.first_paragr{
    padding-top:30px;
}

.list p{
    padding:10px;
    padding-left: 40px;
    margin:0;
}*/

footer {
    background:#DCDCDC;
    margin-top:30px;
    height:90px;
}

#footer {
    text-align:center;
    padding-top: 20px;
}
/*.img_ref{
    text-align:center;
    display:block;
 }

ol ul {
    list-style: none;
}

.less_style {
        text-decoration: none;
}

.little_box{
text-align: center;
}*/
